@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/ArialNarrow.ttf');
}

@font-face {
  font-family: 'Arial Black';
  src: url('../fonts/ArialBlack.ttf');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  cursor: url(../images/cursor-default.png) 6 0,auto;
}

a:hover{
  cursor: url('../images/cursor-pointer.png') 6 0,pointer;
}

body {
  background-color: #7A7A7A;
  color: white;
}

.background {
  width: 100vw;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.about-wrapper-1 {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  text-align: center;
}

.about-wrapper-1 .about-block {
  padding: 4vh 0 4vh 0;
}

.about-wrapper-2 {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-wrapper-2 img {
  box-shadow: -10px 10px 24px rgba(0, 0, 0, 0.25);
  width: 40%;
}

.about-block {
  font-size: 2.2vw;
  font-family: 'Arial Narrow';
  text-transform: uppercase;
  line-height: normal;
}

.about-block .mobile {
  font-size: 2.2vw;
  font-family: 'Arial Narrow';
  text-transform: uppercase;
  line-height: normal;
}

.about-block b {
  font-family: 'Arial Black';
}

.about-block a {
  text-decoration: none;
  color: white;
}

.about-wrapper-3 {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-wrapper-3 .mobile {
  display: none;
}

.rotate {
  transform: rotate(90deg);
}

.rotate .about-block {
  text-align: center;
  padding-top: 100px;
}

.orientir-floating {
  position: fixed;
  opacity: 1;
  pointer-events: none;
  z-index: 100;;
}

.orientir-floating a {
  display: inline-block;
  font-size: 40px;
  padding: 20px 30px;
  /* border: 2px solid;
  border-radius: 100%; */
  text-decoration: none;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.orientir-floating img {
  width: 40vw;
}

@-webkit-keyframes top-x {100% {-webkit-transform: translateX(calc(-100vw + 195px));transform: translateX(calc(-100vw + 195px));}}
@keyframes top-x {100% {-webkit-transform: translateX(calc(-100vw + 195px));transform: translateX(calc(-100vw + 195px));}}
@-webkit-keyframes top-x-large {100% {-webkit-transform: translateX(calc(-100vw + 327px));transform: translateX(calc(-100vw + 327px));}}
@keyframes top-x-large {100% {/* -webkit-transform: translateX(calc(-100vw + 327px)); *//* transform: translateX(calc(-100vw + 327px)); */}}
@-webkit-keyframes top-y {100% {-webkit-transform: translateY(calc(100vh - 95px)) rotate(20deg);transform: translateY(calc(100vh - 95px)) rotate(20deg);}}
@keyframes top-y {100% {-webkit-transform: translateY(calc(100vh - 95px)) rotate(20deg);transform: translateY(calc(100vh - 95px)) rotate(20deg);}}
@-webkit-keyframes top-y-large {100% {-webkit-transform: translateY(calc(100vh - 158px)) rotate(20deg);transform: translateY(calc(100vh - 158px)) rotate(20deg);}}
@keyframes top-y-large {100% {-webkit-transform: translateY(calc(100vh - 158px)) rotate(20deg);transform: translateY(calc(100vh - 158px)) rotate(20deg);}}

.orientir-floating.top {
  top: 13px;
  right: 0px;
  pointer-events: none;
  -webkit-animation: top-x 12s linear infinite alternate;
  animation: top-x 12s linear infinite alternate;
}

.orientir-floating.top a {
  pointer-events: auto;
  -webkit-animation: top-y 7s linear infinite alternate;
  animation: top-y 7s linear infinite alternate;
}

@media (max-width: 2200px) {
  body {
    background-color: #DADADA;
    color: #373737;
  }
  .background {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  .about-block {
    font-size: 6.5vw;
    padding: 4vh 0 4vh 0;
  }
  .about-block a {
    color: #373737;
  }
  .about-wrapper-1 {
    order: 3;
    padding-bottom: 8vh;
  }
  .about-wrapper-2 {
    order: 2;
    padding: 4vh 0 4vh 0;
  }
  .about-wrapper-2 img {
    width: 25vh;
  }
  .about-wrapper-3 {
    order: 1;
  }
  .rotate {
    transform: rotate(0deg);
  }
  .about-wrapper-3 .about-block {
    display: none;
  }
  .about-wrapper-3 .mobile {
    display: flex;
    padding: 8vh 8vh 4vh 8vh;
  }
}
